<div class="container w-75 custom-display-lg">
  <app-line-chart></app-line-chart>
  <app-bar-chart [data]="data"></app-bar-chart>
  <app-top-selling [data]="data"></app-top-selling>
</div>

<div class="container custom-display-sm">
  <app-line-chart></app-line-chart>
  <app-bar-chart [data]="data"></app-bar-chart>
  <app-top-selling [data]="data"></app-top-selling>
</div>

<style>
  .custom-display-lg {
    display: none !important;
  }

  @media (min-width: 1031px) {
    .custom-display-lg {
      display: block !important;
    }
  }

  .custom-display-sm {
    display: block !important;
  }

  @media (min-width: 1031px) {
    .custom-display-sm {
      display: none !important;
    }
  }
</style>
