<div class="container w-75" style="background-color: #e7f6ff">
  <div class="row">
    <div class="col-3 border-bottom border-black" style="height: 60px"></div>
    <div
      class="col-9 border-bottom border-start border-black d-flex align-items-center justify-content-end"
    >
      <button class="btn btn-primary col-3">Sort</button>
    </div>
  </div>
  <div class="row">
    <div class="col-3" style="padding: 0px; margin: 0px">
      <div
        class="bg-body-secondary d-flex justify-content-center align-items-center user-select-none border-bottom border-black"
        style="height: 60px; width: 100%; cursor: pointer"
      >
        Example
      </div>
      <div
        class="bg-body-secondary d-flex justify-content-center align-items-center user-select-none border-bottom border-black"
        style="height: 60px; width: 100%; cursor: pointer"
      >
        Example
      </div>
      <div
        class="bg-body-secondary d-flex justify-content-center align-items-center user-select-none border-bottom border-black"
        style="height: 60px; width: 100%; cursor: pointer"
      >
        Example
      </div>
      <div
        class="bg-body-secondary d-flex justify-content-center align-items-center user-select-none border-bottom border-black"
        style="height: 60px; width: 100%; cursor: pointer"
      >
        Example
      </div>
      <div
        class="bg-body-secondary d-flex justify-content-center align-items-center user-select-none border-bottom border-black"
        style="height: 60px; width: 100%; cursor: pointer"
      >
        Example
      </div>
    </div>
    <div class="col-9" style="margin: 0; padding: 0">
      <app-products-list [sortBy]="'rating'"></app-products-list>
    </div>
  </div>
</div>
