<div
  *ngIf="isLoading"
  class="text-center py-5"
  style="background-color: #e7f6ff"
>
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <p>Loading your purchase history.</p>
</div>

<div
  *ngIf="!isLoading && purchaseHistory.length === 0"
  class="text-center py-5"
  style="background-color: #e7f6ff"
>
  <h2>Your purchase history is empty</h2>
  <button class="btn btn-primary mt-3">Back to store</button>
</div>

<div
  class="container w-75 pb-2 custom-display-lg"
  style="background-color: #e7f6ff"
>
  <div *ngFor="let product of purchaseHistory">
    <app-cart-product
      [product]="product"
      [showPrice]="false"
    ></app-cart-product>
  </div>
</div>

<div class="container pb-2 custom-display-sm" style="background-color: #e7f6ff">
  <div *ngFor="let product of purchaseHistory">
    <app-cart-product
      [product]="product"
      [showPrice]="false"
    ></app-cart-product>
  </div>
</div>

<style>
  .custom-display-lg {
    display: none;
  }

  @media (min-width: 1031px) {
    .custom-display-lg {
      display: block;
    }
  }

  .custom-display-sm {
    display: block;
  }

  @media (min-width: 1031px) {
    .custom-display-sm {
      display: none;
    }
  }
</style>
