<div class="container w-75" style="background-color: #e7f6ff">
  <div *ngFor="let product of cart">
    <app-cart-product [product]="product"></app-cart-product>
  </div>
  <div class="d-flex py-4 px-1 justify-content-between align-items-center">
    <button class="btn btn-primary col-3" (click)="routerConfig('back')">
      Back to store
    </button>
    <div class="d-flex flex-column col-4">
      <h2 class="text-center">Total: {{ totalPrice }} $</h2>
      <button class="btn btn-success" (click)="routerConfig('continue')">
        Continue to payment
      </button>
    </div>
  </div>
</div>
