<div
  *ngIf="isLoading"
  class="text-center py-5"
  style="background-color: #e7f6ff"
>
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <p>Loading your cart...</p>
</div>

<div
  *ngIf="!isLoading && cart.length === 0"
  class="text-center py-5"
  style="background-color: #e7f6ff"
>
  <h2>Your cart is empty</h2>
  <button class="btn btn-primary mt-3" (click)="backClicked()">
    Back to store
  </button>
</div>

<div
  *ngIf="!isLoading && cart.length > 0"
  class="container w-75 custom-display-lg"
  style="background-color: #e7f6ff"
>
  <div *ngFor="let product of cart">
    <app-cart-product
      [product]="product"
      (itemRemoved)="handleItemRemoved($event)"
    ></app-cart-product>
  </div>
  <div class="d-flex py-4 px-1 justify-content-between align-items-center">
    <button class="btn btn-primary col-3" (click)="backClicked()">
      Back to store
    </button>
    <div class="d-flex flex-column col-4">
      <h2 class="text-center">Total: {{ totalPrice | number : "1.2-2" }} $</h2>
      <button class="btn btn-success" (click)="checkout()">
        Continue to payment
      </button>
    </div>
  </div>
</div>

<div
  *ngIf="!isLoading && cart.length > 0"
  class="container custom-display-sm"
  style="background-color: #e7f6ff"
>
  <div *ngFor="let product of cart">
    <app-cart-product [product]="product"></app-cart-product>
  </div>
  <div class="d-flex py-4 px-1 justify-content-between align-items-center">
    <button class="btn btn-primary col-3" (click)="backClicked()">
      Back to store
    </button>
    <div class="d-flex flex-column col-4">
      <h2 class="text-center">Total: {{ totalPrice | number : "1.2-2" }} $</h2>
      <button class="btn btn-success" (click)="checkout()">
        Continue to payment
      </button>
    </div>
  </div>
</div>

<style>
  .custom-display-lg {
    display: none !important;
  }

  @media (min-width: 1031px) {
    .custom-display-lg {
      display: block !important;
    }
  }

  .custom-display-sm {
    display: block !important;
  }

  @media (min-width: 1031px) {
    .custom-display-sm {
      display: none !important;
    }
  }
</style>
