<div
  class="container w-75 my-3 p-5 custom-display-lg"
  style="background-color: #f0f8ff; border-radius: 8px"
>
  <div class="d-flex align-items-center justify-content-between">
    <div *ngIf="Direction === 'left'; else rightSide" style="flex: 1">
      <img
        [src]="imgSrc"
        alt="Company Logo"
        class="img-fluid responsive-image"
      />
    </div>

    <div *ngIf="Direction === 'left'" style="flex: 2" class="ms-4">
      <h1 class="mb-2">{{ h1Content }}</h1>
      <h2 class="mb-3">{{ h2Content }}</h2>
      <p class="mb-4">
        {{ pContent }}
      </p>
      <button
        class="btn btn-primary mt-2 me-2"
        style="background-color: #33c2e6; border-color: #33c2e6"
        (click)="buttonClicked()"
      >
        {{ buttonContent }}
      </button>
    </div>

    <ng-template #rightSide>
      <div style="flex: 2" class="ms-4">
        <h1 class="mb-2">{{ h1Content }}</h1>
        <h2 class="mb-3">{{ h2Content }}</h2>
        <p class="mb-4">
          {{ pContent }}
        </p>
        <button
          class="btn btn-primary mt-2 me-2"
          style="background-color: #33c2e6; border-color: #33c2e6"
          (click)="buttonClicked()"
        >
          {{ buttonContent }}
        </button>
      </div>
      <div style="flex: 1">
        <img
          [src]="imgSrc"
          alt="Company Logo"
          class="img-fluid responsive-image"
        />
      </div>
    </ng-template>
  </div>
</div>

<div
  class="container my-3 p-5 custom-display-sm"
  style="background-color: #f0f8ff; border-radius: 8px"
>
  <div class="d-flex flex-column align-items-center justify-content-between">
    <div style="flex: 1">
      <img
        [src]="imgSrc"
        alt="Company Logo"
        class="img-fluid responsive-image mb-3"
      />
    </div>
    <div class="ms-4 text-center" style="flex: 2">
      <h4 class="mb-3">{{ h1Content }}</h4>
      <h5 class="mb-3">{{ h2Content }}</h5>
      <p class="mb-4">
        {{ pContent }}
      </p>
      <button
        class="btn btn-primary mt-2 me-2"
        style="background-color: #33c2e6; border-color: #33c2e6"
        (click)="buttonClicked()"
      >
        {{ buttonContent }}
      </button>
    </div>
  </div>
</div>

<style>
  .responsive-image {
    max-width: 300px;
  }

  @media (min-width: 1200px) {
    .responsive-image {
      max-width: 400px;
    }
  }

  @media (min-width: 1450px) {
    .responsive-image {
      max-width: 500px;
    }
  }
</style>
