<div
  class="container w-75 my-5 p-5 custom-display-lg"
  style="background-color: #f0f8ff; border-radius: 8px"
>
  <div class="d-flex align-items-center justify-content-between">
    <div style="flex: 1">
      <img
        src="heropic1.png"
        alt="Company Logo"
        class="img-fluid responsive-image"
      />
    </div>
    <div class="ms-4" style="flex: 2">
      <h1 class="mb-2">Get the Ultimate Gaming Experience</h1>
      <h2 class="mb-3">Build, Customize, and Dominate</h2>
      <p class="mb-4">
        Discover top-quality components, create your custom build, or choose
        from our range of high-performance prebuilt PCs. Your dream gaming rig
        is just a few clicks away.
      </p>
      <button
        class="btn btn-primary mt-2 me-2"
        style="background-color: #33c2e6; border-color: #33c2e6"
      >
        Start Building Now
      </button>
      <button
        class="btn btn-light mt-2"
        style="background-color: #e6f7ff; border-color: #e6f7ff"
      >
        View Prebuilt PCs
      </button>
    </div>
  </div>
</div>

<div
  class="container my-5 p-5 custom-display-sm"
  style="background-color: #f0f8ff; border-radius: 8px"
>
  <div class="d-flex flex-column align-items-center justify-content-between">
    <div style="flex: 1">
      <img
        src="heropic1.png"
        alt="Company Logo"
        class="img-fluid responsive-image mb-3"
      />
    </div>
    <div class="ms-4 text-center" style="flex: 2">
      <h4 class="mb-3">Get the Ultimate Gaming Experience</h4>
      <h5 class="mb-3">Shop, Choose, and Play</h5>
      <p class="mb-4">
        Discover our range of high-performance prebuilt PCs or explore our store
        for top-quality components to enhance your gaming setup. Your perfect
        gaming rig is just a few clicks away.
      </p>
      <button
        class="btn btn-primary mt-2 me-2"
        style="background-color: #33c2e6; border-color: #33c2e6"
      >
        Explore Parts Store
      </button>
      <button
        class="btn btn-light mt-2"
        style="background-color: #e6f7ff; border-color: #e6f7ff"
      >
        Shop Prebuilt PCs
      </button>
    </div>
  </div>
</div>

<style>
  .custom-display-lg {
    display: none;
  }

  @media (min-width: 1031px) {
    .custom-display-lg {
      display: block;
    }
  }

  .custom-display-sm {
    display: block;
  }

  @media (min-width: 1031px) {
    .custom-display-sm {
      display: none;
    }
  }

  .responsive-image {
    max-width: 300px;
  }

  @media (min-width: 1200px) {
    .responsive-image {
      max-width: 400px;
    }
  }

  @media (min-width: 1450px) {
    .responsive-image {
      max-width: 500px;
    }
  }
</style>
