<div
  class="p-4 d-flex border border-top-0 border-black custom-display-lg position-relative"
>
  <div class="row justify-content-center align-items-center">
    <img [src]="product.imgUrl" alt="" class="col-3" />
    <h6 class="col-6 d-flex align-items-center">{{ product.name }}</h6>
    <p *ngIf="showPrice" class="col-2 d-flex align-items-center">
      <b>{{ product.price }} $</b>
    </p>
    <div *ngIf="!showPrice" class="col-3">
      <button class="btn btn-success col-8" (click)="rateButtonClicked()">
        Rate
      </button>
    </div>
  </div>

  <i
    *ngIf="showPrice"
    class="fa-solid fa-x fa-2x position-absolute top-0 end-0 m-2"
    style="cursor: pointer; color: red"
    title="Remove product"
    (click)="removeFromCartClicked()"
  ></i>
</div>

<div class="d-flex custom-display-sm position-relative">
  <div
    class="row d-flex justify-content-center border-bottom border-black py-3"
  >
    <img [src]="product.imgUrl" alt="" class="col-6" />
    <h6 class="col-9 d-flex align-items-center">{{ product.name }}</h6>
    <p *ngIf="showPrice" class="col-3 d-flex align-items-center">
      <b>{{ product.price }} $</b>
    </p>
    <div *ngIf="!showPrice" class="col-4 pt-4">
      <button class="btn btn-success col-12" (click)="rateButtonClicked()">
        Rate
      </button>
    </div>
  </div>

  <i
    *ngIf="showPrice"
    class="fa-solid fa-x fa-2x position-absolute top-0 end-0 m-2"
    style="cursor: pointer; color: red"
    title="Remove product"
    (click)="removeFromCartClicked()"
  ></i>
</div>
