<div class="p-4 d-flex border-start border-black custom-display-lg">
  <div class="row">
    <img
      (click)="navigateToProductPage()"
      style="cursor: pointer"
      [src]="product.imgUrl"
      alt=""
      class="col-3"
    />
    <div class="d-flex flex-column col-9">
      <h6 (click)="navigateToProductPage()" style="cursor: pointer">
        {{ product.name }}
      </h6>
      <app-star-rating [rating]="rating"></app-star-rating>
      <p>
        <b>{{ product.price }} $</b>
      </p>
      <button
        class="btn btn-primary"
        style="width: 40%"
        (click)="addToCartClicked()"
      >
        Add to cart
      </button>
    </div>
  </div>
</div>

<div class="p-4 d-flex border-start border-end border-black custom-display-sm">
  <div class="row justify-content-center">
    <img
      (click)="navigateToProductPage()"
      [src]="product.imgUrl"
      alt=""
      class="col-6"
    />
  </div>
  <div class="row justify-content-center">
    <h6 class="text-center" (click)="navigateToProductPage()">
      {{ product.name }}
    </h6>
    <div
      class="position-relative my-2 d-flex justify-content-center align-items-center"
      style="height: 20px"
    >
      <div
        style="position: relative; display: inline-flex; align-items: center"
      >
        <app-star-rating
          [rating]="rating"
          style="width: 100px; display: inline-flex"
        ></app-star-rating>
      </div>
    </div>
    <p class="text-center">
      <b>{{ product.price }} $</b>
    </p>
    <button
      class="btn btn-primary"
      style="width: 40%"
      (click)="addToCartClicked()"
    >
      Add to cart
    </button>
  </div>
</div>

<style>
  .custom-display-lg {
    display: none !important;
  }

  @media (min-width: 1031px) {
    .custom-display-lg {
      display: block !important;
    }
  }

  .custom-display-sm {
    display: block !important;
  }

  @media (min-width: 1031px) {
    .custom-display-sm {
      display: none !important;
    }
  }
</style>
