<div class="container w-75 custom-display-lg">
  <div class="row align-items-center py-3">
    <div class="col-2 d-flex justify-content-center">
      <img
        src="logo.png"
        class="img-fluid"
        style="max-height: 100px"
        alt="Logo"
      />
    </div>

    <ul class="nav offset-1 col-6 justify-content-between d-flex">
      <li
        class="nav-item flex-fill text-center"
        style="background-color: #4169e1"
      >
        <a
          class="nav-link"
          [class.active]="activeNavItem === 'Home'"
          (click)="setActive('Home')"
          href=""
          >Home</a
        >
      </li>
      <li
        class="nav-item flex-fill text-center"
        style="background-color: #4169e1"
      >
        <a
          class="nav-link"
          [class.active]="activeNavItem === 'Features'"
          (click)="setActive('Features')"
          href="features"
          >Features</a
        >
      </li>
      <li
        class="nav-item flex-fill text-center"
        style="background-color: #4169e1"
      >
        <a
          class="nav-link"
          [class.active]="activeNavItem === 'Contact'"
          (click)="setActive('Contact')"
          href="contact"
          >Contact</a
        >
      </li>
      <li
        class="nav-item flex-fill text-center"
        style="background-color: #4169e1"
      >
        <a
          class="nav-link"
          [class.active]="activeNavItem === 'Products'"
          (click)="setActive('Products')"
          href="products"
          >Products</a
        >
      </li>
    </ul>

    <div
      class="col-2 offset-1 position-relative d-flex justify-content-center align-items-center"
    >
      <div
        class="rounded-circle"
        style="
          background-color: #4169e1;
          height: 100px;
          width: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          font-weight: bold;
        "
        (click)="toggleUserDropdown($event)"
      >
        <i class="fa-solid fa-user fa-2x" style="color: white"></i>
      </div>

      <div
        *ngIf="isUserDropdownVisible"
        class="dropdown-menu"
        [style]="{
          position: 'absolute',
          top: dropdown_top_percent,
          right: '0',
          backgroundColor: '#ffffff',
          color: '#000000',
          border: '1px solid #ccc'
        }"
      >
        <div
          *ngIf="!this.isLoggedIn"
          class="dropdown-item"
          (click)="dropdownConfig('login')"
        >
          Login
        </div>
        <div
          *ngIf="this.isLoggedIn && isAuthorized"
          class="dropdown-item"
          (click)="dropdownConfig('admin')"
        >
          Admin panel
        </div>
        <div
          *ngIf="this.isLoggedIn"
          class="dropdown-item"
          (click)="dropdownConfig('cart')"
        >
          Cart
        </div>
        <div
          *ngIf="this.isLoggedIn"
          class="dropdown-item"
          (click)="dropdownConfig('purchaseHistory')"
        >
          Purchase history
        </div>
        <div
          *ngIf="this.isLoggedIn"
          class="dropdown-item"
          (click)="dropdownConfig('logout')"
        >
          Logout
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container w-75 custom-display-sm">
  <div class="row align-items-center py-3">
    <div class="d-flex justify-content-between align-items-center w-100">
      <div
        class="d-flex justify-content-start align-items-center"
        style="flex: 1"
      >
        <img
          src="logo.png"
          class="img-fluid"
          style="max-height: 100px; width: auto"
          alt="Logo"
        />
      </div>

      <i
        class="fa-solid fa-bars fa-4x"
        style="color: white; flex: 0 0 auto"
        (click)="toggleDropdown()"
      ></i>

      <div
        class="d-flex justify-content-end align-items-center position-relative"
        style="flex: 1"
      >
        <div
          class="rounded-circle"
          style="
            background-color: #4169e1;
            height: 75px;
            width: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-weight: bold;
          "
          (click)="toggleUserDropdown($event)"
        >
          <i class="fa-solid fa-user fa-2x" style="color: white"></i>
        </div>

        <div
          *ngIf="isUserDropdownVisible"
          class="dropdown-menu"
          [style]="{
            position: 'absolute',
            top: dropdown_top_percent,
            right: '0',
            backgroundColor: '#ffffff',
            color: '#000000',
            border: '1px solid #ccc'
          }"
        >
          <div
            *ngIf="!this.isLoggedIn"
            class="dropdown-item"
            (click)="dropdownConfig('login')"
          >
            Login
          </div>
          <div
            *ngIf="this.isLoggedIn && isAuthorized"
            class="dropdown-item"
            (click)="dropdownConfig('admin')"
          >
            Admin panel
          </div>
          <div
            *ngIf="this.isLoggedIn"
            class="dropdown-item"
            (click)="dropdownConfig('cart')"
          >
            Cart
          </div>
          <div
            *ngIf="this.isLoggedIn"
            class="dropdown-item"
            (click)="dropdownConfig('purchaseHistory')"
          >
            Purchase History
          </div>
          <div
            *ngIf="this.isLoggedIn"
            class="dropdown-item"
            (click)="dropdownConfig('logout')"
          >
            Logout
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="isDropdownVisible"
  class="container w-75 custom-display-sm text-center pb-3"
  style="color: white; font-size: 24px"
>
  <div
    class="row border border-white border-top-0 p-3"
    style="user-select: none; cursor: pointer"
  >
    <a class="nav-link" (click)="setActive('Home')" href="">Home</a>
  </div>
  <div
    class="row bg-black border border-white border-top-0 p-3"
    style="user-select: none; cursor: pointer"
  >
    <a class="nav-link" (click)="setActive('Features')" href="features"
      >Features</a
    >
  </div>
  <div
    class="row bg-black border border-white border-top-0 p-3"
    style="user-select: none; cursor: pointer"
  >
    <a class="nav-link" (click)="setActive('Contact')" href="contact"
      >Contact</a
    >
  </div>
  <div
    class="row bg-black border border-white border-top-0 p-3"
    style="user-select: none; cursor: pointer"
  >
    <a class="nav-link" (click)="setActive('Products')" href="products"
      >Products</a
    >
  </div>
</div>

<style>
  .custom-display-lg {
    display: none;
  }

  @media (min-width: 1031px) {
    .custom-display-lg {
      display: block;
    }
  }

  .custom-display-sm {
    display: block;
  }

  @media (min-width: 1031px) {
    .custom-display-sm {
      display: none;
    }
  }

  .nav-link.active {
    background-color: #03c2f6;
    color: black;
  }

  .nav-link {
    transition: background-color 0.3s ease;
    color: white;
    font-size: 16px;
  }

  .nav-link:hover {
    background-color: #f8f9fa;
    color: black;
  }

  .dropdown-menu {
    display: block;
    z-index: 1000;
  }

  .dropdown-item {
    padding: 8px 16px;
    cursor: pointer;
  }

  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
</style>
