<div class="custom-display-lg">
  <h4 class="text-center mt-3">Top Selling Products</h4>
  <div class="container">
    <div class="row border border-black">
      <div class="col-8 text-center py-2">
        <strong>Product</strong>
      </div>
      <div class="col-2 text-center py-2 border-start border-end border-black">
        <strong>Price</strong>
      </div>
      <div class="col-2 text-center py-2">
        <strong>Amount Sold</strong>
      </div>
    </div>

    <div
      *ngFor="let product of data.slice(0, loadedTopSelling)"
      class="row border-bottom align-items-stretch border border-top-0 border-black d-flex"
    >
      <div class="col-8 d-flex align-items-center py-2">
        <img [src]="product.product.imgUrl" class="col-3 me-3" />
        <div class="col-8">{{ product.product.name }}</div>
      </div>

      <div
        class="col-2 py-2 d-flex align-items-center justify-content-center border-start border-end border-black"
      >
        <b>{{ product.product.price | currency }}</b>
      </div>
      <div
        class="col-2 py-2 text-center d-flex align-items-center justify-content-center"
      >
        <b>{{ product.amount }}</b>
      </div>
    </div>

    <div class="d-flex justify-content-center my-2">
      <button class="btn btn-primary" (click)="showMoreButtonClicked()">
        Show more
      </button>
    </div>
  </div>
</div>

<div class="custom-display-sm">
  <h4 class="text-center mt-3">Top Selling Products</h4>
  <div class="container">
    <div class="row border border-black">
      <div class="col-7 text-center py-2">
        <strong>Product</strong>
      </div>
      <div class="col-3 text-center py-2 border-start border-end border-black">
        <strong>Price</strong>
      </div>
      <div class="col-2 text-center py-2">
        <strong>Amount Sold</strong>
      </div>
    </div>

    <div
      *ngFor="let product of data.slice(0, loadedTopSelling)"
      class="row border-bottom align-items-stretch border border-top-0 border-black d-flex"
    >
      <div class="col-7 d-flex flex-column align-items-center">
        <img [src]="product.product.imgUrl" style="max-width: 100px" />
        <div class="text-center">{{ product.product.name }}</div>
      </div>

      <div
        class="col-3 d-flex align-items-center justify-content-center border-start border-end border-black"
      >
        <b>{{ product.product.price | currency }}</b>
      </div>
      <div
        class="col-2 text-center d-flex align-items-center justify-content-center"
      >
        {{ product.amount }}
      </div>
    </div>

    <div class="d-flex justify-content-center my-2">
      <button class="btn btn-primary" (click)="showMoreButtonClicked()">
        Show more
      </button>
    </div>
  </div>
</div>
