<div style="width: 100vw; background-color: #e7f6ff">
  <app-image-text
    Direction="left"
    [pContent]="imageTexts[0].pContent"
    [h1Content]="imageTexts[0].h1Content"
    [h2Content]="imageTexts[0].h2Content"
    [buttonContent]="imageTexts[0].buttonContent"
    [imgSrc]="imageTexts[0].imgSrc"
  ></app-image-text>
  <app-image-text
    Direction="right"
    [pContent]="imageTexts[1].pContent"
    [h1Content]="imageTexts[1].h1Content"
    [h2Content]="imageTexts[1].h2Content"
    [buttonContent]="imageTexts[1].buttonContent"
    [imgSrc]="imageTexts[1].imgSrc"
  ></app-image-text>
</div>
